/** Link or Element Text Coloring
 ---------------------------------------------------------*/
@mixin linkColor($color: inherit, $state: all, $el: a) {
  @mixin linkArrayStatic() {
    #{$el}, #{$el}:link, #{$el}:visited { color: $color; }
  }
  @mixin linkArrayHover() {
    #{$el}:hover, #{$el}:focus, #{$el}:active { color: $color; }
  }
  @if $state == all {
    @include linkArrayStatic();
    @include linkArrayHover();
  } @else if $state == static {
    @include linkArrayStatic();
  } @else if $state == hover {
    @include linkArrayHover();
  }
}

/** Strip Lists down to nothing
 ---------------------------------------------------------*/
@mixin listStripped($display: block, $margin: 0, $padding: 0) {
  list-style-type: none;
  margin: $margin;
  padding: $padding;

  li {
    display: $display;
    margin: 0;
    padding: 0;
  }
}
